.card-product {
  height: 100%;
  &__title,
  &__description {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
  }
  &__title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  &__description {
    min-height: 48px;
  }
  &__sale {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
  }
}
