.card-product {
  &__title,
  &__description {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
  }
  &__title {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
  &__description {
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
  &__price {
  }
}
